
/*Caracteristicas generales*/
*{
    margin: 0%;
    padding: 0%;
}
header img{
transition: all 2s;
width: 1920px;
}
header img:hover{
    width: 2000px;
    }


/*Nav*/
a{
    transition: all 2s;
    
}
a:hover{
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
}
/*Catalogo*/
.Catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}
.Catalogo2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    transition: all;
    }
.Catalogo img{
    width: 200px;
    align-self: center;
    }
.Catalogo2 img{
    width: 200px;
    align-self: center;
}
.fotobuzos img{
    width: 150px;
}

.InfoSN{
    margin: 200px;
}
.tarjetasn{
    display: flex;
    justify-content: center;
}
.tarjetasn img{
    width: 800px;
    align-self: center;
}

/*Footer*/
footer{
    margin-top: 200px;
}

@media(max-width: 576px){
    
header img{
    display: none;
}

}